a {
    text-decoration: none;
}

h1 {
    color: navy;
}

p {
    font-weight: bold;
    font-size: large;
    background-color: bisque;
    text-align: center;
}

button {
    border-radius: 5px;
    color:blueviolet;
    background-color: aqua;
}